body {
    font-family: 'Segoe UI', sans-serif;
    color: #212529;
}

.gantt-container {
    display: flex;
    height: 45px;
    background-color: white;
    overflow: hidden;
}

.gantt-block {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    border-right: 1px solid rgba(255,255,255);
}

.table th {
    color: #6c757d;
    font-weight: 500;
}